<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.audit.authority.dao.SysMenuMapper">
    <resultMap id="BaseResultMap" type="com.edu.audit.authority.domain.SysMenu">
        <id column="menu_id" jdbcType="VARCHAR" property="menuId"/>
        <result column="menu_name" jdbcType="VARCHAR" property="menuName"/>
        <result column="parent_id" jdbcType="VARCHAR" property="parentId"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="menu_type" jdbcType="CHAR" property="menuType"/>
        <result column="perms" jdbcType="VARCHAR" property="perms"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <resultMap id="MenuMap" type="com.edu.audit.authority.dto.MenuDto">
        <id column="menu_id" jdbcType="VARCHAR" property="menuId"/>
        <id column="icon" jdbcType="VARCHAR" property="icon"/>
        <id column="menu_name" jdbcType="VARCHAR" property="index"/>
        <id column="menu_name" jdbcType="VARCHAR" property="title"/>
    </resultMap>

    <resultMap id="RouterMap" type="com.edu.audit.authority.dto.RouterDataItem">
        <id column="url" jdbcType="VARCHAR" property="path"/>
        <id column="url" jdbcType="VARCHAR" property="component"/>
        <id column="url" jdbcType="VARCHAR" property="name"/>
    </resultMap>

    <resultMap id="SubMenu" type="com.edu.audit.authority.dto.SubMenu">
        <result column="url" jdbcType="VARCHAR" property="index"/>
        <result column="menu_name" jdbcType="VARCHAR" property="title"/>
    </resultMap>
    <sql id="Base_Column_List">
    menu_id, menu_name, parent_id, url, menu_type, perms, create_by, create_time, update_by,
    update_time
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_menu
        where menu_id = #{menuId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sys_menu
    where menu_id = #{menuId,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.edu.audit.authority.domain.SysMenu">
    insert into sys_menu (menu_id, menu_name, parent_id,
      url, menu_type, perms,
      create_by, create_time, update_by,
      update_time)
    values (#{menuId,jdbcType=VARCHAR}, #{menuName,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR},
      #{url,jdbcType=VARCHAR}, #{menuType,jdbcType=CHAR}, #{perms,jdbcType=VARCHAR},
      #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR},
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.edu.audit.authority.domain.SysMenu">
        insert into sys_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="menuId != null">
                menu_id,
            </if>
            <if test="menuName != null">
                menu_name,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="menuType != null">
                menu_type,
            </if>
            <if test="perms != null">
                perms,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="menuId != null">
                #{menuId,jdbcType=VARCHAR},
            </if>
            <if test="menuName != null">
                #{menuName,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="menuType != null">
                #{menuType,jdbcType=CHAR},
            </if>
            <if test="perms != null">
                #{perms,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.edu.audit.authority.domain.SysMenu">
        update sys_menu
        <set>
            <if test="menuName != null">
                menu_name = #{menuName,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="menuType != null">
                menu_type = #{menuType,jdbcType=CHAR},
            </if>
            <if test="perms != null">
                perms = #{perms,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where menu_id = #{menuId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.edu.audit.authority.domain.SysMenu">
    update sys_menu
    set menu_name = #{menuName,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      menu_type = #{menuType,jdbcType=CHAR},
      perms = #{perms,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where menu_id = #{menuId,jdbcType=VARCHAR}
  </update>
    <insert id="addMenu" parameterType="com.edu.audit.authority.domain.SysRoleMenu">
    insert into sys_role_menu(role_id, menu_id)
    values (
    #{roleId},
    #{menuId}
    )
    </insert>
    <delete id="deleteMenu" parameterType="com.edu.audit.authority.domain.SysRoleMenu">
        delete from sys_role_menu
        <where>
            role_id = #{roleId}
            and menu_id = #{menuId}
        </where>
    </delete>
    <select id="queryMenuTypeList" resultMap="BaseResultMap">
        select menu_id,menu_name,parent_id,url,perms
        from sys_menu
        where menu_type = "M"
    </select>
    <select id="queryMenuTypeListBy" resultMap="MenuMap">
        select m.menu_id,m.menu_name,m.icon
        from sys_menu m
        left join sys_role_menu rm on rm.menu_id = m.menu_id
        left join sys_role r on rm.role_id = r.role_id
        left join sys_user_role ur on r.role_id = ur.role_id
        left join sys_user u on ur.user_id = u.user_id
        where username = #{username} and m.menu_type = "M"
    </select>
    <select id="queryControlTypeList" resultMap="SubMenu">
        select m.menu_name,m.url
        from sys_menu m
        left join sys_role_menu rm on rm.menu_id = m.menu_id
        left join sys_role r on rm.role_id = r.role_id
        left join sys_user_role ur on r.role_id = ur.role_id
        left join sys_user u on ur.user_id = u.user_id
        where username = #{username} and m.menu_type = "C" and m.parent_id = #{parentId}
    </select>

    <select id="queryRouterList" resultMap="RouterMap">
        select m.url
        from sys_menu m
        left join sys_role_menu rm on rm.menu_id = m.menu_id
        left join sys_role r on rm.role_id = r.role_id
        left join sys_user_role ur on r.role_id = ur.role_id
        left join sys_user u on ur.user_id = u.user_id
        where username = #{username} and m.menu_type = "C"
    </select>


</mapper>